@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f6f7f9;
  --foreground: #0a0b15;
  --base-color: #163f44;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@layer components {
  .base-button {
    @apply bg-[var(--base-color)] flex items-center text-white rounded-lg px-3 min-h-[45px] text-sm font-medium transition-all duration-500 hover:scale-[1.08] justify-center;
  }
  .base-outline-btn {
    @apply min-h-[45px] bg-transparent border-[2px] text-[var(--base-color)] border-[var(--base-color)] rounded-lg px-3 text-sm font-medium transition-all duration-500 hover:scale-[1.08] flex items-center justify-center;
  }

  .logo-detail-wrapper {
    @apply max-w-[90%] md:max-w-3xl flex flex-col items-center mx-auto;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.logo {
  background: linear-gradient(184deg, #163f44 44%, #f9fafc 91%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
